<nav>
  <div class="site-title">
    <a href="/"><h1>check Express</h1></a>
    <p>Site</p>
  </div>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/ourServices">ourServices</a></li>
    <li><a href="/contactus">contact us</a></li>
  </ul>
</nav>
